{% extends 'base.html' %}
{% block content %}

<h1 style="border:2px solid #FAC896; margin: 70px; text-align: center;"> 품절 됐나요..? ㅠ3ㅠ</h1>
<div class="row" style="margin:10px 50px; padding-top:20px; padding-left: 100px;">
    {%for result in results%}
    <div class="card" style="width: 30rem; margin-right: 60px; margin-left: 50px;  margin-bottom: 20px; padding:20px; ">
        <div class="card-body" style="align-self:center" margin-left= auto;
    margin-right= auto;>
            <br>
            <br>
            <h2 style="color:#000;">{{result.shoes_title}}</h2>
            <img src="{{result.shoes_image}}">
            {%if "result.shoes_body==None" %}
            <h4 style="color:#000">사이즈 : <h2 style="color:Tomato;">{{result.shoes_body}}</h2><h4 style="color:rgb(0, 0, 0)">가 <h3 style="color:rgb(204, 13, 13)">품절</h3><h4 style="color:#000">되었습니다.</h4>
            
            {%endif%}
            <br>
            <br>    
        </h2>
        </div>
    </div>
{%endfor%}
</div>
{% endblock %}